/* 
colors
#34D399  main accent
#15151A  main background
#F3F3F5  main text
#22222B  search bar background
#78869D  accent text
#86889d  greeting text
#31323F search bar background__active
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #15151a;
  height: calc(100vh -38px);
  color: #f3f3f5;
}
header {
  text-align: center;
}
.site-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
}

h1 i {
  color: #34d399;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
}
/* ///////////////////////////////////// */
/* Search Bar */
.search-form {
  margin: 0 2rem 0 2rem;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-form.search-form__welcome {
  transform: translateY(15rem);
}
.search-bar {
  width: 100%;
  background-color: #22222b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.75rem;
  padding: 0.4rem;
  border: 2px solid transparent;
  overflow: hidden;
  transition: 0.3s all;
  position: relative;
}
.search-bar.searching {
  border: 2px solid #34d399;
  background-color: #31323f;
}

.search-bar__input {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  font-size: 1.4rem;
  color: #f3f3f5;
}
.search-bar__button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  position: absolute;
  right: -2rem;
  top: -2.1rem;
  padding: 3rem 3rem 3rem 0.8rem;
  color: #34d399;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-bar__button:hover {
  cursor: pointer;
  color: white;
  background-color: #34d399;
}

/* ///////////////////////////////////// */
/* Greeting */
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.greeting__welcome {
  transform: translateY(15rem);
}
.greeting__arrow {
  width: 6rem;
}
.greeting__text {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.6rem;
  text-align: center;
  color: #86889d;
}
