.search-form {
  // margin: 0 1rem;
  transition: transform 0.32s ease;
  overflow: hidden;
  border-radius: 0.75rem;
  margin: 0 2rem;

  &-wrapper {
    margin: 0 auto;
    max-width: 54rem;

  }

  &.search-form__welcome {
    transform: translateY(15vh);
  }
}

.search-bar {
  width: 100%;
  background-color: $color-background-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.75rem;
  padding: 0.4rem;
  border: 3px solid transparent;
  transition: 0.32s all;
  position: relative;



  &.search-bar__active {
    border: 3px solid $color-primary;
    background-color: $color-background-tertiary;
  }

  &__input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    color: $color-text-tertiary;
  }

  &__button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.6rem;
    position: absolute;
    right: -2rem;
    top: -2.2rem;
    padding: 3rem 3rem 3rem 0.8rem;
    color: $color-primary;
    transition: all 0.32s ease;

    .ionicon {
      width: 1.6rem;
      height: 1.6rem;

      fill: $color-primary;
      transition: all .32s ease;
    }

    &:hover {
      cursor: pointer;
      color: white;
      background-color: $color-primary;

      .ionicon {
        fill: white;
      }
    }
  }
}