.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  opacity: 0;
  transition: all 0.32s ease;

  &.modal__visible {
    opacity: 1;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
    width: 90%;
    max-width: 60rem;
    padding: 1rem;
    background-color: $color-background-tertiary;
    border-radius: 0.75rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
  }

  &__year {
    margin-left: 0.4rem;
  }

  &__button__close {
    background: none;
    border: none;

    .ionicon {
      transition: all 0.32s ease;
      width: 1.8rem;
      fill: $color-primary;
    }

    &:hover {

      cursor: pointer;

      .ionicon {
        fill: $color-text-primary
      }
    }
  }
}

.iframe-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}