@media (min-width: 37.5em) {
  .search-results {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 56.25em) {
  .search-results {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 75em) {
  .search-results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
