/* 
colors
#34D399 main accent
#15151A main background
#22222B search bar background
#31323F search bar background__active
#78869D accent text
#86889d greeting text
#a4a6b5 accent text on movie__details
#F3F3F5 main text
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #15151a;
  height: calc(100vh -38px);
  color: #f3f3f5;
}

header {
  text-align: center;
}

.site-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 2rem 1rem;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 2.2rem;
}

h1 i {
  color: #34d399;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

/* ///////////////////////////////////// */
/* Search Bar */
.search-form {
  margin: 0 1rem;
  transition: transform 0.32s ease;
  overflow: hidden;
  border-radius: 0.75rem;
}

.search-form.search-form__welcome {
  transform: translateY(20vh);
}

.search-bar {
  width: 100%;
  background-color: #22222b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.75rem;
  padding: 0.4rem;
  border: 2px solid transparent;

  transition: 0.3s all;
  position: relative;
}

.search-bar.search-bar__active {
  border: 2px solid #34d399;
  background-color: #31323f;
}

.search-bar__input {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  font-size: 1.4rem;
  color: #f3f3f5;
}

.search-bar__button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  position: absolute;
  right: -2rem;
  top: -2.3rem;
  padding: 3rem 3rem 3rem 0.8rem;
  color: #34d399;
  transition: all 0.25s ease;
}

.search-bar__button:hover {
  cursor: pointer;
  color: white;
  background-color: #34d399;
}

/* ///////////////////////////////////// */
/* Greeting */
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  transition: all .32s ease;
}

.greeting.greeting__welcome {
  transform: translateY(20vh);
}

.greeting.greeting__hidden {
  display: none;
  opacity: 0;
}

.greeting__arrow {
  width: 6rem;
}

.greeting__text {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.6rem;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
  color: #86889d;
}

/* ///////////////////////////////////// */
/* Spinner */
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 12rem;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 0.2s ease;
}

.spinner.spinner__visible {
  opacity: 1;
}

.path {
  stroke: #34d399;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* ///////////////////////////////////// */
/* Search Results */
.search-results {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 2rem;
  gap: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(4rem);
}

.search-results.search-results__fade-in {
  opacity: 1;
  transform: translateY(0);
}

.search-results.search-results__fade-out {
  opacity: 0;
}

.search-result {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  background-color: #22222b;
  border-radius: 0.75rem;
  transition: all 0.32s ease;
  position: relative;
}

.search-result__link {
  width: 100%;
  max-width: 18rem;
  border-radius: 0.75rem;
  border: 2px solid transparent;
  height: 100%;
}

.search-result::before {
  content: "";
  background: linear-gradient(#31323f, #22222b);
  border-radius: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.32s ease;
}

.search-result:hover::before {
  opacity: 1;
}

.search-result:hover {
  transform: translateY(-1.4rem);
  cursor: pointer;
  box-shadow: 0px 10px 13px -7px #02020293;
}

.search-result:hover .search-result__img {
  transform: scale(1.1) rotate(4deg);
}

.search-result__info {
  padding: 1rem;
  margin-top: -8rem;
}

.search-result__img-box {
  width: 80%;
  max-width: 16rem;
  margin: 0 auto 0 auto;
  border-radius: 0.75rem;
  overflow: hidden;
  transform: translateY(-8rem);
}

.search-result__img {
  min-height: 12rem;
  object-fit: cover;
  transition: all 0.32s ease;
  width: 100%;
}

.search-result__title {
  font-size: 1.4rem;
  text-align: center;
}

.search-result__year {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.6rem;
}

.error-message__search {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  color: #86889d;
  font-size: 1.4rem;
  padding: 2rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.32s ease;
}

.error-message__search.error-message__search__visible {
  opacity: 1;
  transform: translateY(0);
}

/* ///////////////////////////////////// */
/* Movie Details */
.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto 1rem auto;
  width: calc(100% - 2rem);
  background-color: #31323f;
  border-radius: 0.75rem;

  transition: all 0.32s ease;
  opacity: 1;
  transform: translateY(0rem);
}

.movie-details.movie-details__hidden {
  opacity: 0;
  transform: translateY(4rem);
}

.movie-details.movie-details__fade-out {
  opacity: 0;
}

.movie-details__poster-container {
  transform: translateY(-8rem);
  max-width: 80%;
}

.movie-details__poster {
  min-height: 12rem;
  border-radius: 0.75rem;
  width: 100%;
  object-fit: contain;
}

.movie-details__info {
  padding: 1rem 1.6rem 1.6rem 1.6rem;
  margin-top: -8rem;
}

.movie-details__title {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.movie-details__subtitle {
  color: #a4a6b5;

  margin-bottom: 2rem;
}

.movie-details__year {
  margin-right: 2.6rem;
}

.movie-details__runtime-genre-rating {
  color: #a4a6b5;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}


.movie-details__runtime {
  border: 1px solid #a4a6b5;
  padding: 0.2rem 0.4rem;
}

.movie-details__rating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0.2rem;
  padding-right: 0.1rem;
}

.movie-details__rating-container {
  margin-left: auto;
  position: relative;
}

.movie-details__rating-circle {
  transform: rotate(-90deg);
}

.movie-details__actors {
  font-size: 0.875rem;
  color: #a4a6b5;
  margin-bottom: 2rem;
}

.movie-details__plot {
  padding-bottom: 1rem;
}

.movie-details__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-details__trailer-button {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background: transparent;
  color: #34d399;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid #34d399;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: all 0.32s ease;
}

.movie-details__trailer-button:hover {
  color: white;
  background-color: #34d399;
  cursor: pointer;
}

.movie-details__share-button {
  display: flex;
  align-items: center;
  gap: .6rem;
  background: transparent;
  border: none;
  color: #a4a6b5;
  font-size: 1.2rem;
  padding: 0.25rem;
  transition: all 0.32s ease;
  position: relative;
}

.movie-details__share-button::before {
  position: absolute;
  top: -130%;
  left: -30%;

  content: "Link Copied!";
  color: #34d399;
  font-size: .8rem;
  opacity: 0;
  transition: all .32s ease;

}

.movie-details__share-button__success.movie-details__share-button::before {
  opacity: 1;
}



.movie-details__share-button:hover {
  color: #34d399;
  cursor: pointer;
}